<script type='text/javascript'>
$(document).ready(function() {
    setupVersionSuggestions(
        $('#{{ fennecForm.version.id }}'),
        {{ fennecForm.version.suggestions|safe }},
        $('#{{ fennecForm.buildNumber.id }}'),
        {{ fennecForm.buildNumber.suggestions|safe }}
    );
    setupBranchSuggestions(
        $('#{{ fennecForm.branch.id }}'),
        {{ fennecForm.branch.suggestions|safe }}
    );
    setupRevisionDisabling(
        $('#{{ fennecForm.mozillaRelbranch.id }}'),
        $('#{{ fennecForm.mozillaRevision.id }}')
    );
})
</script>
{%- from 'includes/macro.html' import input, input_checkbox, gimme_button %}
{%- from 'includes/macro.html' import new_release_form_open, new_release_form_close %}
{%- from 'includes/macro.html' import advanced_options %}
{{ new_release_form_open() }}
{{ fennecForm.hidden_tag() }}

{{ input(element=fennecForm.version,
         placeholder="15.0b6",
         disable=False,
         help="") }}
{{ input(element=fennecForm.buildNumber,
         placeholder="1",
         disable=False,
         help="Build number must be set to 1 for the first release with this version. If a previous build has already been attempted and it has tagged the source repositories, build 2 or higher should be used. Generally, the autofilled value for this is correct.") }}
{{ input(element=fennecForm.branch,
         placeholder='releases/mozilla-beta',
         help="The branch to build the release from, relative to the root of the VCS.") }}

{%- set disable_mozillaRevision = False %}
{%- if fennecForm.mozillaRelbranch.data %}
{%- set disable_mozillaRevision = True %}
{%- endif %}
{{ input(element=fennecForm.mozillaRevision,
    placeholder='abcdef123456',
    disable=disable_mozillaRevision,
    help='If a relbranch is specified this field is disabled and ignored. The tip of the relbranch will be used instead.') }}


{{ input(element=fennecForm.l10nChangesets,
         placeholder='{"ca": {"revision": "abcdef123456", "platforms": ["android"]}',
         disable=False,
         help='The l10n changesets for this release, in JSON format. Betas and release-channel releases these are normally copied from the <a href="https://l10n.mozilla.org/shipping/milestones">L10n Dashboard</a>. ESR releases re-use the same changesets as the previous release on the same branch. For more information consult <a href="https://wiki.mozilla.org/Release:Release_Automation_on_Mercurial:Starting_a_Release#L10N_Changesets">the milestone creation documentation</a>') }}

{{ input_checkbox(element=fennecForm.dashboardCheck,
                  disable=False,
                  help='Whether or not to ensure that the changesets given match the ones on the <a href="https://l10n.mozilla.org/shipping/milestones">L10n Dashboard</a>. This is normally turned on for betas and turned off for all other releases.') }}

{{ advanced_options() }}
{%- set disable_mozillaRelbranch = False %}
{%- if fennecForm.mozillaRevision.data %}
{%- set disable_mozillaRelbranch = True %}
{%- endif %}
{{ input(element=fennecForm.mozillaRelbranch,
         placeholder='',
         disable=disable_mozillaRelbranch,
         help="The relbranch to put version bumps/tags for this release on. If not specified, one will be generated automatically during tagging. When provided the release will be created from tip of this branch thus it cannot be used in conjunction with revision." )}}
{{ gimme_button('fennec') }}
{{ new_release_form_close() }}
