<script type='text/javascript'>
$(document).ready(function() {
    setupVersionSuggestions(
        $('#{{ firefoxForm.version.id }}'),
    {{ firefoxForm.version.suggestions }},
        $('#{{ firefoxForm.buildNumber.id }}'),
    {{ firefoxForm.buildNumber.suggestions }}
    );
    setupBranchSuggestions(
        $('#{{ firefoxForm.branch.id }}'),
    {{ firefoxForm.branch.suggestions }},
        $('#{{ firefoxForm.partials.id }}'),
    {{ firefoxForm.partials.suggestions }}
    );
    setupRevisionDisabling(
        $('#{{ firefoxForm.mozillaRelbranch.id }}'),
        $('#{{ firefoxForm.mozillaRevision.id }}')
    );
})
</script>
{%- from 'includes/macro.html' import input, input_checkbox %}
{%- from 'includes/macro.html' import advanced_options %}
{{ firefoxForm.hidden_tag() }}

{{ input(element=firefoxForm.version,
         placeholder='15.0b6',
         disable=False,
         help="") }}


{{ input(element=firefoxForm.buildNumber,
         placeholder='1',
         disable=False,
         help='Build number must be set to 1 for the first release with this version. If a previous build has already been attempted and it has tagged the source repositories, build 2 or higher should be used. Generally, the autofilled value for this is correct.') }}

{{ input(element=firefoxForm.branch,
         placeholder='releases/mozilla-beta',
         disable=False,
         help='The branch to build the release from, relative to the root of the VCS.') }}

{%- set disable_mozillaRevision = False %}
{%- if firefoxForm.mozillaRelbranch.data %}
{%- set disable_mozillaRevision = True %}
{%- endif %}
{{ input(element=firefoxForm.mozillaRevision,
         placeholder='abcdef123456',
         disable=disable_mozillaRevision,
         help='If a relbranch is specified this field is disabled and ignored. The tip of the relbranch will be used instead.') }}


{{ input(element=firefoxForm.partials,
         placeholder='15.0b5build1,15.0b4build2',
         disable=False,
         help="A comma separated list of previous releases to create partial updates for. You MUST list the previous release from the chosen branch as one of the partials. For release-channel releases the recommend number of partials is 3, for Betas it's 2, and for ESRs only 1. Each partial chosen adds roughly 1.5h to the end-to-end time of the release.") }}


{{ input(element=firefoxForm.l10nChangesets,
       placeholder='de abcdef123456', title='The l10n changesets, in release automation format.',
    help='The l10n changesets for this release, in JSON format. Betas and release-channel releases these are normally copied from the <a href="https://l10n.mozilla.org/shipping/milestones">L10n Dashboard</a>. ESR releases re-use the same changesets as the previous release on the same branch. For more information consult <a href="https://wiki.mozilla.org/Release:Release_Automation_on_Mercurial:Starting_a_Release#L10N_Changesets">the milestone creation documentation</a>') }}


{{ input_checkbox(element=firefoxForm.dashboardCheck,
    disable=False,
    help='Whether or not to ensure that the changesets given match the ones on the <a href="https://l10n.mozilla.org/shipping/milestones">L10n Dashboard</a>. This is normally turned on for betas and turned off for all other releases.') }}

{{ advanced_options() }}
{%- set disable_mozillaRelBranch = False %}
{%- if firefoxForm.mozillaRevision.data %}
{%- set disable_mozillaRelBranch = True %}
{%- endif %}
{{ input(element=firefoxForm.mozillaRelbranch,
         placeholder="",
         disable=disable_mozillaRelbranch,
         help='The relbranch to put version bumps/tags for this release on. If not specified, one will be generated automatically during tagging. When provided the release will be created from tip of this branch thus it cannot be used in conjunction with revision.') }}


{{ input(element=firefoxForm.promptWaitTime,
         placeholder='',
         disable=False,
         help='Amount of time to wait before prompting users to apply the update to this release. Not specifying this will use the default value as specified in the application.') }}
