<div class="control-group controls-row">
    {{ firefoxForm.version.label(class="control-label")|safe }}
    <div class="controls">
    {{ firefoxForm.version(class="input-large", placeholder='15.0b6')|safe }}
    <a href="#" class="btn btn-mini btn-primary">?</a>
    </div>
</div>
<div class="control-group controls-row">
    {{ firefoxForm.buildNumber.label(class="control-label")|safe }}
    <div class="controls">
    {{ firefoxForm.buildNumber(placeholder='1')|safe }}
    <span class="badge badge-info">?</span>
    </div>
</div>
<div class="control-group controls-row">
    <label class="control-label" for="firefox-release-url">Release url:</label>
    <div class="controls">
    <input id="firefox-release-url" name="firefox-release-url" placeholder="https://hg.mozilla.org/<release branch>/rev/<revision>" type="text" value="">
    <span class="badge badge-info">?</span>
    </div>
</div>
<div class="control-group controls-row">
    {{ firefoxForm.l10nChangesets.label(class="control-label")|safe }}
    <div class="controls">
    {{ firefoxForm.l10nChangesets(placeholder='{"ca": {"revision": "abcdef123456", "platforms": ["android"]}')|safe }}
    <span class="badge badge-info">?</span>
    </div>
</div>
<div class="control-group controls-row">
    {{ firefoxForm.dashboardCheck.label(class="control-label")|safe }}
    <div class="controls">
    {{ firefoxForm.dashboardCheck()|safe }}
    <span class="badge badge-info">?</span>
    </div>
</div>
<h4>Advanced options:</h4>
<hr>
<div class="control-group controls-row">
    {{ firefoxForm.branch.label(class="control-label")|safe }}
    <div class="controls">
    {{ firefoxForm.branch(placeholder='releases/mozilla-beta')|safe }}
    <span class="badge badge-info">?</span>
    </div>
</div>
<div class="control-group controls-row">
    {{ firefoxForm.mozillaRevision.label(class="control-label")|safe }}
    <div class="controls">
    {% if firefoxForm.mozillaRelbranch.data %}
        {{ firefoxForm.mozillaRevision(disabled='disabled')|safe }}
    {% else %}
        {{ firefoxForm.mozillaRevision(placeholder='abcdef123456')|safe }}
    {% endif %}
    <span class="badge badge-info">?</span>
    </div>
</div>
<div class="control-group controls-row">
    {{ firefoxForm.mozillaRelbranch.label(class="control-label")|safe }}
    <div class="controls">
    {% if firefoxForm.mozillaRevision.data %}
        {{ firefoxForm.mozillaRelbranch(disabled='disabled')|safe }}
    {% else %}
        {{ firefoxForm.mozillaRelbranch()|safe }}
    {% endif %}
    <span class="badge badge-info">?</span>
    </div>
</div>
<script type='text/javascript'>
$(document).ready(function() {
    setupVersionSuggestions(
        $('#{{ firefoxForm.version.id }}'),
        {{ firefoxForm.version.suggestions|safe }},
        $('#{{ firefoxForm.buildNumber.id }}'),
        {{ firefoxForm.buildNumber.suggestions|safe }}
    );
    setupBranchSuggestions(
        $('#{{ firefoxForm.branch.id }}'),
        {{ firefoxForm.branch.suggestions|safe }}
    );
    setupRevisionDisabling(
        $('#{{ firefoxForm.mozillaRelbranch.id }}'),
        $('#{{ firefoxForm.mozillaRevision.id }}')
    );
    $( '.tooltip' ).tooltip();
    $( '.popover' ).popover();
})
</script>
{{ firefoxForm.hidden_tag() }}
