{% set label_size = 2 %}
{% set input_size = 9 %}

{%- macro new_release_form_open() %}
<form class='submit_release_form' action='{{ url_for('submit_release') }}' method='post' role='form'>
{%- endmacro %}

{%- macro new_release_form_close() %}
</form>
{%- endmacro %}

{%- macro input(element, placeholder, disable, help, title="", placement="right") -%}
<div class="form-group">
    {{ element.label()|safe }}
    {%- if disabled %}
    {{ element(class="form-control", placeholder=placeholder, disable='disabled',)|safe }}
    {%- else %}
    {{ element(class="form-control", placeholder=placeholder, )|safe }}
    {%- endif %}
    {{ help_text(help=help) }}
</div> <!-- form-group {{ element.id }} -->
{%- endmacro %}

{%- macro help_text(help) -%}
<div class="hidden">{{ help }}</div>
{%- endmacro %}

{%- macro input_checkbox(element, disable, help="", title="") %}
<div class="form-group">
    {{ element.label()|safe }}
    {%- if disabled %}
    {{ element(placeholder=placeholder, disable='disabled', title=title)|safe }}
    {%- else %}
    {{ element(placeholder=placeholder, title=title)|safe }}
    {%- endif %}
</div> <!-- form-group {{ element.id }} -->
{% endmacro %}

{%- macro add_button(action, release, btn_style) %}
     <label class="btn {{ btn_style }}">
      <input id="{{ action }}Releases_{{ release.name }}" type="checkbox" name="{{ action }}Releases" value="{{ release.name }}" onclick='submittedReleaseButtons(this.id)'>
       {{ action|capitalize }}
     </label>
{%- endmacro %}

{%- macro gimme_button(product) -%}
<div class="form-group">
  <div class="col-sm-offset-{{ label_size }} col-sm-{{ input_size }}">
    <button type="submit" class="btn btn-default">Gimme a {{ product|capitalize}}</button>
   </div>
</div> <!-- form-group gimme_button({{ product }}) -->
{%- endmacro %}


{%- set name_size = 3 %}
{%- macro advanced_options() %}
<h4>Advanced options:</h4>
{%- endmacro %}
{%- macro _option_value(name, value) %}
{%- if name == 'l10n' %}
    <div class='col-sm-{{ name_size }}'><a href="/releases/{{ value }}/l10n">L10n Changeset</a></div>
{%- else %}
    <div class='col-sm-{{ name_size }}'><strong>{{ name }}</strong></div>
    <div class='col-sm-offset-{{ name_size }}'>{{ value }}</div>
{%- endif %}
{%- endmacro %}
{%- macro _status_error(status) %}
    <div class='col-sm-{{ name_size }}'><strong>Status: </strong></div>
    <div class='col-sm-offset-{{ name_size }} text-danger'><strong>{{ status }}</strong></div>
{%- endmacro %}
{%- macro _submittedAt(submittedAt) %}
    <div class='col-sm-{{ name_size }}'><strong>Submitted At:</strong></div>
    <div class='col-sm-offset-{{ name_size }} submittedAt'><strong>{{ submittedAt }}</strong></div>
{% endmacro %}
{%- macro _l10n(name) %}
    <div class='col-sm-12'><a href="/releases/{{ value }}/l10n">L10n Changeset</a><div>
{% endmacro %}
{%- macro submit_release(release) %}
    {%- if release.status != '' %}
     {{ _status_error(release.status) }}
    {% endif -%}
    {{ _option_value('Submitted by: ', release.submitter) }}
    {{ _submittedAt(release.submittedAt) }}
    {{ _option_value('Branch:', release.branch) }}
    {{ _option_value('Mozilla Revision: ',  release.mozillaRevision) }}
    {{ _option_value('Mozilla Relbranch: ', release.mozillaRelbranch) }}
    {%- if 'Thunderbird' in release.name %}
    {{ _option_value('Comm Revision: ', release.commRevision) }}
    {{ _option_value('Comm Relbranch: ', release.commRelbranch) }}
    {%- endif %}
    {%- if release.dashboardCheck %}
    {{ _option_value('Check dashboard? ', 'Yes') }}
    {%- else %}
    {{ _option_value('Check dashboard? ', 'No') }}
    {%- endif %}
    {%- if not 'Fennec' in release.name %}
    {{ _option_value('Partial versions: ', release.partials) }}
    {%- if not release.promptWaitTime %}
    {{ _option_value('Update prompt wait time: ','Default') }}
    {%- else %}
    {{ _option_value('Update prompt wait time: ', release.promptWaitTime) }}
    {%- endif %}
    {%- endif %}
    {{ _option_value('l10n', release.name ) }}
    <div class="btn-group" data-toggle="buttons">
    {{ add_button('ready', release, 'btn-success') }}
    {{ add_button('delete', release, 'btn-danger') }}
    </div><!-- btn-group -->
{%- endmacro %}

{%- macro ready_delte_buttons(release) %}
{%- endmacro %}
