<div class="control-group controls-row">
    {{ thunderbirdForm.version.label(class="control-label")|safe }}
    <div class="controls">
    {{ thunderbirdForm.version(class="input-large", placeholder='15.0b6')|safe }}
    <a href="#" class="btn btn-mini btn-primary">?</a>
    </div>
</div>
<div class="control-group controls-row">
    {{ thunderbirdForm.buildNumber.label(class="control-label")|safe }}
    <div class="controls">
    {{ thunderbirdForm.buildNumber(placeholder='1')|safe }}
    <span class="badge badge-info">?</span>
    </div>
</div>
<div class="control-group controls-row">
    <label class="control-label" for="thunderbird-release-url">Release url:</label>
    <div class="controls">
    <input id="thunderbird-release-url" name="thunderbird-release-url" placeholder="https://hg.mozilla.org/<release branch>/rev/<revision>" type="text" value="">
    <span class="badge badge-info">?</span>
    </div>
</div>
<div class="control-group controls-row">
    {{ thunderbirdForm.l10nChangesets.label(class="control-label")|safe }}
    <div class="controls">
    {{ thunderbirdForm.l10nChangesets(placeholder='{"ca": {"revision": "abcdef123456", "platforms": ["android"]}')|safe }}
    <span class="badge badge-info">?</span>
    </div>
</div>
<div class="control-group controls-row">
    {{ thunderbirdForm.dashboardCheck.label(class="control-label")|safe }}
    <div class="controls">
    {{ thunderbirdForm.dashboardCheck()|safe }}
    <span class="badge badge-info">?</span>
    </div>
</div>
<h4>Advanced options:</h4>
<hr>
<div class="control-group controls-row">
    {{ thunderbirdForm.branch.label(class="control-label")|safe }}
    <div class="controls">
    {{ thunderbirdForm.branch(placeholder='releases/mozilla-beta')|safe }}
    <span class="badge badge-info">?</span>
    </div>
</div>
<div class="control-group controls-row">
    {{ thunderbirdForm.mozillaRevision.label(class="control-label")|safe }}
    <div class="controls">
    {% if thunderbirdForm.mozillaRelbranch.data %}
        {{ thunderbirdForm.mozillaRevision(disabled='disabled')|safe }}
    {% else %}
        {{ thunderbirdForm.mozillaRevision(placeholder='abcdef123456')|safe }}
    {% endif %}
    <span class="badge badge-info">?</span>
    </div>
</div>
<div class="control-group controls-row">
    {{ thunderbirdForm.mozillaRelbranch.label(class="control-label")|safe }}
    <div class="controls">
    {% if thunderbirdForm.mozillaRevision.data %}
        {{ thunderbirdForm.mozillaRelbranch(disabled='disabled')|safe }}
    {% else %}
        {{ thunderbirdForm.mozillaRelbranch()|safe }}
    {% endif %}
    <span class="badge badge-info">?</span>
    </div>
</div>
<script type='text/javascript'>
$(document).ready(function() {
    setupVersionSuggestions(
        $('#{{ thunderbirdForm.version.id }}'),
        {{ thunderbirdForm.version.suggestions|safe }},
        $('#{{ thunderbirdForm.buildNumber.id }}'),
        {{ thunderbirdForm.buildNumber.suggestions|safe }}
    );
    setupBranchSuggestions(
        $('#{{ thunderbirdForm.branch.id }}'),
        {{ thunderbirdForm.branch.suggestions|safe }}
    );
    setupRevisionDisabling(
        $('#{{ thunderbirdForm.mozillaRelbranch.id }}'),
        $('#{{ thunderbirdForm.mozillaRevision.id }}')
    );
    $( '.tooltip' ).tooltip();
    $( '.popover' ).popover();
})
</script>
{{ thunderbirdForm.hidden_tag() }}
