body {
    font-size: 12px;
    line-height: 1.5;
    font-family: 'Open Sans',sans-serif;
    color: rgb(51, 51, 51);
}

/* release table */
#releases {
    font-size: 0.8em;
}

/* submit release form */
.submit_release {
   padding-bottom: 0.5em;
}

/* submit release form labels*/
.submit_release label {
    float: left;
    width: 300px;
}

.submit_release input[type=text] {
    width: 30%;
}
/* submit release form advanced fileds*/
.advanced {
    border-top:2px solid LightGray;
    margin-top:20px;
    padding-top: 20px
}

table
{
   border-collapse:collapse;
}

tr
{
   border-bottom: dotted 1px #000;
}

tr:last-child
{
   border-bottom: none;
}

#edit_container {
    font-family: Verdana,Arial,sans-serif;
    font-size: 1.1em;
    width: 70%;
}

#radio {
    text-align: center;
}

h1 {
    margin: 0;
    margin-bottom: 1ex;
    text-align: center;
}
