<!DOCTYPE HTML>
<html lang="en-US">
<head>
<title>Ship it!</title>
<!-- favicon -->
<link rel="icon" href="{{ url_for("static", filename="favicon.ico") }}" />
<!-- js -->
<script type="text/javascript" src="{{ url_for("static", filename="suggestions.js") }}"></script>
<script type="text/javascript" src="{{ url_for("static", filename="jquery-ui-1.10.2.custom.min.js") }}"></script>
<script type="text/javascript" src="{{ url_for("static", filename="jquery-1.9.1.min.js") }}"></script>
<script type="text/javascript" src="{{ url_for("static", filename="jquery-ui.min.js") }}"></script>
<script type="text/javascript" src="{{ url_for("static", filename="jquery.dataTables.min.js") }}"></script>
<script type="text/javascript" src="{{ url_for("static", filename="bootstrap.min.js") }}"></script>
<!--
<script type="text/javascript" src="{{ url_for("static", filename="kickoff.js") }}"></script>
-->
<!-- css -->
<link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="jquery.dataTables.css") }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="jquery-ui-1.10.2.custom.min.css") }}" />
<link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="bootstrap.min.css") }}" />
<!--
<link rel="stylesheet" type="text/css" href="{{ url_for("static", filename="kickoff.css") }}" />
-->
</head>
<body>
<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="brand" href="#">Ship it</a>
    <div class="nav-collapse collapse">
      <ul class="nav">
        <li class="active"><a href="{{ url_for("submit_release") }}">Submit a new release</a></li>
        <li><a href="{{ url_for("releases") }}">View releases</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
{% block content %}
{% endblock %}
</body>
</html>
