<!DOCTYPE HTML>
<html lang='en-US'>
<head>
<title>Ship it!</title>
<!--
-->
<link rel='stylesheet' type='text/css' href='{{ url_for("static", filename="kickoff.css") }}' />
<link rel='icon' href="{{ url_for('static', filename='favicon.ico') }}" />
<script type='text/javascript' src='{{ url_for("static", filename="suggestions.js") }}'></script>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.1/themes/base/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
<link rel="stylesheet" href="/resources/demos/style.css" />
<script>
$(function() {
  $( "#tabs" ).tabs();
});
</script>
</head>
<body>
<div class="topmenu">
<div class="ui-buttonset" id="viewtabs">
    <input class="ui-helper-hidden-accessible" id="menu-slaves" name="viewmenu" type="radio"> 
    <label role="button" class="ui-button ui-widget ui-state-default ui-button-text-only ui-corner-left" aria-pressed="false" value='{{ url_for('submit_release') }}'>
      <a href='{{ url_for('submit_release') }}'>  <span class="ui-button-text">Submit a new release</span></a>
    </label>
    <input class="ui-helper-hidden-accessible" id="menu-masters" name="viewmenu" type="radio" >
    <label role="button" class="ui-button ui-widget ui-state-default ui-button-text-only ui-corner-right" aria-pressed="false" value='{{ url_for('releases') }}'>
        <a href='{{ url_for('releases') }}'>  <span class="ui-button-text">View releases</span></a>
   </label>
</div>
</div><!-- topmenu -->
{% block content %}{% endblock %}
</body>
</html>
