<!DOCTYPE HTML>
<html lang="en-US">
<head>
<title>Ship it!</title>
<!-- favicon -->
<link rel="icon" href="{{ url_for("static", filename="favicon.ico") }}" />
<!-- js -->
{% for js_lib in [
    "suggestions.js",
    "jquery-ui-1.10.2.custom.min.js",
    "jquery-1.9.1.min.js",
    "jquery-ui.min.js",
    "jquery.dataTables.min.js",
    "bootstrap.min.js",
    "dataTables.bootstrap.js",
    "kickoff.js"
] %}
<script type="text/javascript" src="{{ url_for("static", filename=js_lib) }}"></script>
{% endfor %}
<!-- css -->
{% for css_file in [
    "jquery.dataTables.css",
    "jquery-ui-1.10.2.custom.min.css",
    "bootstrap.min.css",
    "bootstrap-responsive.css",
] %}
<link rel="stylesheet" type="text/css" href="{{ url_for("static", filename=css_file) }}" />
{% endfor %}
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="brand" href="#">Ship it</a>
    <div class="nav-collapse collapse">
      <ul class="nav" id="shipitNav">
        {%- for endpoint, caption in [
            ("submit_release", "Submit a new Release"),
            ("releases", "View releases" ),
        ] %}
         <li {% if endpoint == request.endpoint %} class=active{% endif %}>
             <a href={{ url_for(endpoint) }}>{{ caption }}</a>
         </li>
        {%- endfor %}
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
{% block content %}
{% endblock %}
</body>
</html>
