{% extends "base.html" %}
{% block content %}
{% if errors %}
<div id='errors'>
<ul>
    {% for e in errors %}
    <li>{{ e }}</li>
    {% endfor %}
</ul>
</div> <!-- id=errors -->
{% endif %}
  <div class="panel-group" id='accordion'>
   <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#Submitted">Submitted</a>
      </h4>
    </div>
    <div id="Submitted" class="panel-collapse collapse in">
     <div class="panel-body">
      <div id='notready'>
       {% include 'releases_submitted.html' %}
      </div><!-- notready -->
     </div><!-- panel-body -->
    </div><!-- collapse in -->
   </div><!-- panel default -->

   <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#ReviewedComplete">Reviewed/Complete</a>
      </h4>
    </div>
    <div id="Submitted" class="panel-collapse collapse in">
     <div class="panel-body">
      <div id="reviewed-tab">
      {% include 'releases_reviewed.html' %}
     </div> <!-- reviewed-tab -->
      <div id="complete-tab">
      {% include 'releases_complete.html' %}
      </div> <!-- complete-tab -->
     </div><!-- panel-body -->
    </div><!-- collapse in -->
   </div><!-- panel default -->
  </div><!-- accordion -->
<script>
    $(document).ready(function(){ viewReleases(); });
</script>
{% endblock %}
