{% extends 'base.html' %}
{% block content %}
<ul id='errors'>
    {% for e in errors %}
    <li class='error'>{{ e }}</li>
    {% endfor %}
</ul>
<h2 class='title'>Releases:</h2>
<form id='release_readyness' action='{{ url_for('releases') }}' method='post'>
{{ form.hidden_tag() }}
{% set notreadyReleases = [] %}
{% set incompleteReleases = [] %}
{% set completeReleases = [] %}
{% for rel in releases %}
    {% if not rel.ready %}
        {% do notreadyReleases.append(rel) %}
    {% elif not rel.complete %}
        {% do incompleteReleases.append(rel) %}
    {% else %}
        {% do completeReleases.append(rel) %}
    {% endif %}
{% endfor %}

<ul id='notready_releases'>
</ul>

<table id='other_releases'>
<tr>
    <td colspan='9' class='incomplete heading'>Incomplete releases</td>
</tr>
<tr>
    <th>Name</th>
    <th>Submitted By</th>
    <th>Branch</th>
    <th>Mozilla Revision</th>
    <th>Comm Revision</th>
    <th>Check Dashboard?</th>
    <th>L10n Changesets</th>
    <th>Partial Versions</th>
    <th>Status</th>
</tr>
{% for rel in incompleteReleases %}
<tr class='incomplete'>
    <td>{{ rel.name }}</td>
    <td>{{ rel.submitter }}</td>
    <td>{{ rel.branch }}</td>
    <td>{{ rel.mozillaRevision }}</td>
    {% if 'Thunderbird' in rel.name %}
        <td>{{ rel.commRevision }}</td>
    {% else %}
        <td class='irrelevant'>N/A</td>
    {% endif %}
    {% if rel.dashboardCheck %}
        <td>Yes</td>
    {% else %}
        <td>No</td>
    {% endif %}
    <td><a href='/releases/{{ rel.name }}/l10n'>Link</a></td>
    {% if 'Fennec' in rel.name %}
        <td class='irrelevant'>N/A</td>
    {% else %}
        <td>{{ rel.partials }}</td>
    {% endif %}
    <td>{{ rel.status }}</td>
</tr>
{% endfor %}
<tr>
    <td colspan='9' class='complete heading'>Completed releases</td>
</tr>
<tr>
    <th>Name</th>
    <th>Submitted By</th>
    <th>Branch</th>
    <th>Mozilla Revision</th>
    <th>Comm Revision</th>
    <th>Check Dashboard?</th>
    <th>L10n Changesets</th>
    <th>Partial Versions</th>
    <th>Status</th>
</tr>
{% for rel in completeReleases %}
<tr class='complete'>
    <td>{{ rel.name }}</td>
    <td>{{ rel.submitter }}</td>
    <td>{{ rel.branch }}</td>
    <td>{{ rel.mozillaRevision }}</td>
    {% if 'Thunderbird' in rel.name %}
        <td>{{ rel.commRevision }}</td>
    {% else %}
        <td class='irrelevant'>N/A</td>
    {% endif %}
    {% if rel.dashboardCheck %}
        <td>Yes</td>
    {% else %}
        <td>No</td>
    {% endif %}
    <td><a href='/releases/{{ rel.name }}/l10n'>Link</a></td>
    {% if 'Fennec' in rel.name %}
        <td class='irrelevant'>N/A</td>
    {% else %}
        <td>{{ rel.partials }}</td>
    {% endif %}
    <td>{{ rel.status }}</td>
</tr>
{% endfor %}
</table>

<script type='text/javascript'>
function disableReady(release) {
    readyCheckbox = document.getElementById('readyReleases_' + release);
    deleteCheckbox = document.getElementById('deleteReleases_' + release);
    if (deleteCheckbox.checked) {
        readyCheckbox.checked = false;
        readyCheckbox.disabled = true;
    }
    else {
        readyCheckbox.disabled = false;
    }
}
</script>
{% endblock %}
