{% extends "base.html" %}
{% block content %}
{%- if errors %}
<div id='errors'>
<ul>
    {%- for e in errors %}
    <li>{{ e }}</li>
    {%- endfor %}
</ul>
</div> <!-- id=errors -->
{%- endif %}
{%- from 'includes/macro.html' import submit_release %}
<form id='release_readyness' action='{{ url_for('releases') }}' method='post'>
{{ form.hidden_tag() }}
{% for rel in releases if not rel.ready %}
<div class="panel panel-default">
 <div class="panel-heading">
  <h3 class="panel-title"><a href="/release.html?name={{ rel.name }}">{{ rel.name }}</a></h3>
 </div> <!-- panel heading -->
 <div class="panel-body">
    {{  submit_release(rel) }}
 <div><!-- panel body -->
 </div>
 </div>
 </div>
{%- if loop.last %}
<input class="btn btn-default" type="submit" id="doeet" value="Do eet!">
</form>
{%- endif %}
{%- else %}
<h1>Hurray no releases waiting!</h1>
{%- endfor %}
{%- endblock %}
