{% extends "base.html" %}
{% block content %}
{% if errors %}
<div id='errors'>
<ul>
    {% for e in errors %}
    <li>{{ e }}</li>
    {% endfor %}
</ul>
</div> <!-- id=errors -->
{% endif %}
<ul class="nav nav-pills">
  {%- for prod in ('fennec', 'firefox', 'thunderbird') %}
  {%- if loop.first %}
  <li class="active"><a href="#{{ prod }}" data-toggle="tab">{{ prod|capitalize }}</a></li>
  {%- else %}
  <li><a href="#{{ prod }}" data-toggle="tab">{{ prod|capitalize }}</a></li>
  {%- endif %}
  {%- endfor %}
</ul>
<div class="tab-content">
{%- for prod in ('fennec', 'firefox', 'thunderbird') %}
{%- set product_template = 'includes/' + prod + '_release.html' %}
  {%- if loop.first %}
  <div class="tab-pane active" id="{{ prod }}">
  {%- else %}
  <div class="tab-pane" id="{{ prod }}">
  {%- endif %}
  {% include product_template %}
  </div> <!-- tab-pane {{ prod }} -->
{%- endfor %}
</div> <!-- tab-content -->
{% endblock %}
