{% extends "base.html" %}
{% block content %}
<ul id='errors'>
    {% for e in errors %}
    <li class='error'>{{ e }}</li>
    {% endfor %}
</ul>
<form>
    <input type="button" value="Show Advanced Options" onclick="switchView(this);">
</form>
<script>
$(document).ready(function(){
    /* when page loads, hide <div class='advanced'> */
    $(".advanced").hide()
;})

function switchView(button) {
  if (button.value == "Show Advanced Options") {
    button.value = "Show Basic Options";
  } else {
    button.value = "Show Advanced Options";
  }
  $(".advanced").toggle();
}
</script>
<div id='column_container'>
<div>
    <h3>Fennec</h3>
    <form class='submit_release_form' action='{{ url_for('submit_release') }}' method='post'>
    {% include 'includes/fennec_release.html' %}
    <div>
        <input type='submit' value='Gimme a Fennec!' />
    </div>
    </form>
</div>
<div>
    <h3>Firefox</h3>
    <form class='submit_release_form' action='{{ url_for('submit_release') }}' method='post'>
    {% include 'includes/firefox_release.html' %}
    <div>
        <input type='submit' value='Gimme a Firefox!' />
    </div>
    </form>
</div>
<div>
    <h3>Thunderbird</h3>
    <form class='submit_release_form' action='{{ url_for('submit_release') }}' method='post'>
    {% include 'includes/thunderbird_release.html' %}
    <div>
        <input type='submit' value='Gimme a Thunderbird!' />
    </div>
    </form>
</div>
</div>
{% endblock %}
